body {
    font-family: "Open Sans", sans-serif;
    color: white;
    background-color: #151515;
}

.common-margin {
    margin: 10px;
}

.flex-container {
    display: flex;
    width: 100%;
}

.flex-desc {
    margin: 10px;
}

.flex-shows {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.boxart {
    width: 225px;
    margin: 10px;
}

.divboxart {
    height: 350px;
}

.title-text {
    font-size: large;
    width: 225px;
    word-wrap: break-word;
}
